CONNECTION_STRING="Server=127.0.0.1;Port=5432;Database=tracking;User Id=postgres;Password=postgres;"
CREDENTIALS_MAX_LENGTH=1024
MISC_MAX_LENGTH=128
STANDARD_ROLE="User"
ASPNETCORE_ENVIRONMENT="Development"
ASPNETCORE_URLS="http://localhost:5001;https://localhost:7001"

# PostgreSQL-specific variables
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="tracking"