# Boolean values: true, false (case insensitive)
# Integer values: 123, 823 (no quotations marks)
# String values: "example", "Hello World" (quotation marks)

# Application-specific variables
CONNECTION_STRING="Server=127.0.0.1;Port=5432;Database=postgres;User Id=postgres;Password=postgres;"
CREDENTIALS_MAX_LENGTH=1024
MISC_MAX_LENGTH=128
STANDARD_ROLE="User"
ASPNETCORE_ENVIRONMENT="Development"
ASPNETCORE_URLS="http://localhost:5001;https://localhost:7001"
ASPNETCORE_FORWARDEDHEADERS_ENABLED=false
AllowedHosts="*"
LOGIN_PATH="/login"
ACCESS_DENIED_PATH="/access-denied"
NOT_FOUND_PATH="/not-found"
BCRYPT_FACTOR=12
BCRYPT_ENHANCED=false
AUTH_EXPIRATION_HOURS=2
AUTH_REFRESH_MINUTES=2
AUTH_PASSWORD_MIN_STRENGTH=50

# Docker Compose-specific variables
APP_HOST="127.0.0.1"
APP_PORT=8080
POSTGRES_BIND_HOST="127.0.0.1"
POSTGRES_PORT=5432
POSTGRES_VERSION="17-alpine"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="postgres"
